{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
	Лямбда: участники
{% endblock %}
{% block description %}
	{# Участники "Лямбда" {% if member_list %} {{ member_list|length }} человек{%endif%} #}
{% endblock %}
{% block content %}
	<div class="panel page-panel">
		<div class="panel-body">

			{% if team_list %}
				<div class="panel-heading headline-container">
					<h2 class="headline">Команда проекта</h2>
				</div>
				<div class="container">
					<div>
						{% include "member_list.html" with member_list=team_list %}
					</div>
				</div>
			{% endif %}

			{% if partners_list %}
				<div class="panel-heading headline-container">
					<h2 class="headline">Партнёры</h2>
				</div>
				<div class="container">
					<div>
						{% include "member_list.html" with member_list=partners_list %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}