{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
	Лямбда: партнеры
{% endblock %}
{% block description %}
	Партнеры Лямбда.
{% endblock %}
{% block content %}
<div class="panel page-panel">

	<div class="panel-body">
		<div class="panel-heading headline-container">
			<h2 class="headline">Наши партнеры</h2>
		</div>
		<div class="container">
			{% if partner_list %}
				<div class="container">
					<div>
						{% include "partner_list.html" %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}